@import url('reset.css');
@import url('fuentes.css');

/*--- Estilos Generales ---*/
body{
	background: #2d2d2d;
	font-family: Arial, Helvetica, Sans-serif;
}
a{text-decoration: none; color:#fff;}
a:hover{text-decoration: underline;}

#wrap{
	width: 960px;
	margin: auto;
	clear: both;
}


/*--- HEADER ---*/

<<<<<<< HEAD
=======
header #subheader nav{
	float: left;
	width: 660px;
	padding: 30px 0px;
	text-align: right;
}

>>>>>>> release/Release3
header{
	width: 100%;
	float: left;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f3f3f3+50,ededed+51,e4e0e0+100 */
<<<<<<< HEAD
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #f3f3f3 50%, #ededed 51%, #e4e0e0 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#e4e0e0 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#e4e0e0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e4e0e0',GradientType=0 ); /* IE6-9 */

}
=======
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #f3f3f3 50%, #ededed 51%, #e4e0e0 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#e4e0e0 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#e4e0e0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e4e0e0',GradientType=0 ); /* IE6-9 */
	box-shadow: 0px 3px 5px #000;
	-moz-box-shadow: 0px 3px 5px #000;
	-webkit-box-shadow: 0px 3px 5px #000;

}
#subheader{
	width: 960px;
	margin: auto;
}
#logotipo{
	float: left;
	width: 300px;
	padding: 10px 0px;
}
#logotipo a{
	font-family: sourcesans-light;
	font-size: 50px;
	color: #000;
}
#logotipo a:hover{text-decoration: none;}

/*MENÚ*/
header #subheader nav ul li {
	display:inline;
	font-family: sourcesans;
}

header #subheader nav ul li a{
	color: #000;
	font-size: 18px;
	padding: 10px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

header #subheader nav ul li a:hover{
		color:#fff;
		background: #1798af;
		text-decoration: none;

}

/*--MAIN--*/
#main{
	width: 100%;
	margin: 20px 0px 0px 0px;
	float:left;
}

/*Slideshow*/
#slideshow{
	width: 920px;
	height: 260px;
	float: left;
	background: #000;
	border: solid 20px #fff;
	margin-bottom: 10px;
}

/*--Bienvenidos--*/
#bienvenidos{
	width: 920px;
	float:left;
	padding: 20px;
	background: #46793a; /* Old browsers */
		background: -moz-linear-gradient(top,  #46793a 0%, #2d4c1e 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#46793a), color-stop(100%,#2d4c1e)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #46793a 0%,#2d4c1e 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #46793a 0%,#2d4c1e 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #46793a 0%,#2d4c1e 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #46793a 0%,#2d4c1e 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#46793a', endColorstr='#2d4c1e',GradientType=0 ); /* IE6-9 */
	margin:20px 0px;
	margin: 20px 0px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0px 2px 2px #000;
	-moz-box-shadow: 0px 2px 2px #000;
	-webkit-box-shadow: 0px 2px 2px #000;
}
#bienvenidos article h3{
	font-family:sourcesans-light;
	color: #fff;
	font-size: 40px;
	margin-bottom: 10px;

}

#bienvenidos article{
	color:#fff;
	line-height: 27px;
}


/*--CONTENIDO--*/
#contenido{
	width: 700px;
	float: left;

}

#contenido article{
	float:left;
	margin-botton: 20px;
}

#contenido article .titulo{
	font-size:22px;
	font-family: sourcesans;
	color: #fff;
}
>>>>>>> release/Release3
